.container
  %h1
    Bootstrap starter template
  %p
    - if @messages
      %ul.links
        - @messages.each do |msg|
          %li
            = msg.url_alias
            %a{ href: "message/#{msg.url_alias}" }= msg.id
