.panel.panel-default
  .panel-heading Messages:
  - if @messages
    .list-group
      - @messages.each do |msg|
        %a{ href: "message/#{msg.url_alias}", class: 'list-group-item' } #{msg.url_alias}
