!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title My Sinatra Website
    %link{ href: '/bootstrap/css/bootstrap.min.css', rel: 'stylesheet' }

    %link{ rel: "apple-touch-icon", href: "/bootstrap/images/apple-touch-icon.png"}
    %link{ rel: "shortcut icon", href: "/bootstrap/images/favicon.ico"}


  %body
    .container
      = haml :navbar

    .content
      .container
        %div= yield

    %script{ src: '/bootstrap/js/bootstrap.min.js'}
