.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading Add new message
      .panel-body
        %form{ action: '/new-message', method: 'post', id: 'new-message' }
          .form-group
            %label{ for: 'msg-text', } Message body:
            %textarea.form-input{ type: 'text',
                                  name: 'msg-text',
                                  class: 'form-control',
                                  rows: 5,
                                  required: true,
                                  id: 'msg-text' }

          .form-group
            %label{ for: 'message[destroy_option]' }Destroy after:
            .radio
              %label
                %input{ name: 'message[destroy_option]',
                        type: 'radio',
                        value: 'visits',
                        required: true }
                link visits
            .radio
              %label
                %input{ name: 'message[destroy_option]',
                        type: 'radio',
                        value: 'hours' }
                number of hours

          .form-group
            %label{ for: 'message[countdown]' } Countdown to destruction:
            %input.form-input{ type: 'number',
                               name: 'message[countdown]',
                               class: 'form-control bfh-number',
                               required: true,
                               min: 1,
                               id: 'countdown' }

          .form-group
            %label{ for: 'pass' } Password:
            %input.form-input{ type: 'password',
                               name: 'pass',
                               class: 'form-control bfh-number',
                               required: true,
                               autocomplete: 'off',
                               id: 'pass' }

          %input{ name: 'message[body]', type: 'hidden', id: 'msg-body' }

          %input{ name: 'message[password]',
                  type: 'hidden',
                  id: 'encrypted-password' }

          %input{ type: 'submit', value: 'Save', class: 'btn btn-default' }

%script(src='https://rawgit.com/ricmoo/aes-js/master/index.js')
%script(src='/javascripts/md5/md5.min.js')
%script(src='/javascripts/aes.js')
