.row
  .col-md-8.col-md-offset-2
    %form{ action: "/message/#{@message.url_alias}", method: 'post' }
      .form-group
        %label{ for: 'pass' } Password:
        %input.form-input{ type: 'password',
                           name: 'pass',
                           class: 'form-control bfh-number',
                           required: true,
                           autocomplete: 'off',
                           id: 'pass' }

      %input{ type: 'submit', value: 'Submit', class: 'button' }
