#message-body{ style: 'display: none;' }= @message.body
#message-password{ style: 'display: none;' }= @message.password
.well
  #show-msg
  #message-countdown Countdown to destroying: #{@message.countdown}

%script(src='https://rawgit.com/ricmoo/aes-js/master/index.js')
%script(src='/javascripts/aes_decode.js')
